{% extends 'base.html.twig' %}

{% block title %}Hello CvController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="{{ asset('assets/css/cv-style.css') }}">

<div class="example-wrapper">
    <h1>DÉVELOPPEUR WEB FRONT-END REACT.JS</h1>
    <h3>À LA RECHERCHE D'UNE ALTERNANCE EN APPRENTISSAGE</h3>
    <h4> À PARTIR DU 21 AOÛT</h4>
    <ul class="categorie-style">
       {% for formation in formation %}
            <li>{{ formation.titre }}</li>
            <li>{{ formation.contenu}}</li>
        {% endfor %}
        <button><a href="/formation">mettre à jour formations</a></button>
    </ul>
     <ul class="categorie-style">
       {% for experience in experience %}
            <li>{{ experience.titre }}</li>
            <li>{{ experience.contenu}}</li>
        {% endfor %}
        <button><a href="/experience">mettre à jour experiences</a></button>
    </ul>
     <ul class="categorie-style">
       {% for competence in competence %}
            <li>{{ competence.titre }}</li>
            <li>{{ competence.contenu}}</li>
        {% endfor %}
        <button><a href="/competence">mettre à jour competences</a></button>
    </ul>
     <ul class="categorie-style">
       {% for interet in interet %}
            <li> {{ interet.titre }}</li>
            <li> {{ interet.contenu}}</li>
        {% endfor %}
        <button><a href="/interet">mettre à jour interet</a></button>
    </ul>
</div>
{% endblock %}
