{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    <h1>CV</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ c_v.id }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ c_v.experience }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ c_v.formation }}</td>
            </tr>
            <tr>
                <th>Interet</th>
                <td>{{ c_v.interet }}</td>
            </tr>
            <tr>
                <th>Competence</th>
                <td>{{ c_v.competence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_c_v_index') }}">back to list</a>

    <a href="{{ path('app_c_v_edit', {'id': c_v.id}) }}">edit</a>

    {{ include('cv/_delete_form.html.twig') }}
{% endblock %}
